/* base */

* { margin:0; padding;0; font-family:inherit; }

/*
body{
	background:white; color:#222;
	font:11px Georgia, serif;
	line-height:1.4;
	font-weight: lighter;
	margin: 0 auto;
	width: 640px;
	
	
}


header {
       display: block;
       border-bottom: 2px solid #000;
       padding: 0;
       margin: 0 auto;
}

a { text-decoration:none; }
a:link, a:active { color:#000}
a:visited {color:#000}
a:link:hover, a:active:hover, a:visited:hover { text-decoration:underline; }
a:link:hover, a:active:hover { color:#000 }
a:visited:hover { color:#000}

#main { margin-bottom: 3em; }



body div.content {}
body div.content *[align=right] { margin-left:1em; margin-bottom:1em; }

*/


/* anchor tags */

a { text-decoration:none; }
a:link, a:active { color:#000099}
a:visited {color:#990033}
a:link:hover, a:active:hover, a:visited:hover { text-decoration:underline; }
a:link:hover, a:active:hover { color:#000}
a:visited:hover { color:#000}

#header a:visited, #paginator a:visited, h1 a:visited, h2 a:visited, h3 a:visited{
	color:#000;
}

#header a:link, #paginator a:link, h1 a:link, h2 a:link, h3 a:link{
	color:#000;
}

/*wrap*/

body{
	background:white; color:#222;
	font:14px Georgia, serif;
	line-height:1.4;
	font-weight: lighter;
}

#wrap {
	width:800px;
	margin:0 auto;
	margin-top: 30px;
}

#header {
	float:left;
	width:130px;
	padding:10px;
	text-align:right;
}

#header h1{
	font-size:30px;
	line-height:1;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#header ul{
	margin:0;
	padding:0;
	list-style:none;
}

#header li {
	margin:0;
	padding:0;
}

#main{
	float:right;
	width:630px;
	padding:10px;
	
}

div.post{
	width: 620px;
	padding: 5px;
}

div.post.sig{
	text-align: right;
}

div.post table{
	padding: 0;
}

div.post.body p{
	margin: 0 0 1em 0;
}

#footer {
	clear:both;
	padding: 0 0 3em 0;
}
#footer p{
	text-align: right;
	margin:0;
}

ul#paginator {
	padding: 1em 0 0 0;
	margin-left: 170px;
	width: 630px;
	list-style: none;
	border-top: 1px solid black;
}

ul#paginator .left{
	padding: 0px;
	float: left;
}

ul#paginator .right{
	padding: 0px;
	float: right;
}

.purple {
	color: purple;
}

.yellow {
	color: yellow;
}

.black {
	font-color: black;
}

