<!DOCTYPE html>
<html lang="en">
  <head>
		<link rel="icon" 
		      href="http://chencharles.com/favicon.ico">
    <meta charset="utf-8">
    <title>Charles Chen - {% if page.title %}{{ page.title }} {% endif %}</title>
    <meta name="description" content="blogging with cc">
    
    <link rel="stylesheet" media="screen, project" href="/css/screen.css" type="text/css">
		<link rel="stylesheet" media="screen, project" href="/css/custom.css" type="text/css">
		<link rel="stylesheet" media="screen, project" href="/css/default.css" type="text/css">
  	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script type="text/javascript" src="/js/application.js"></script>
	</head>

	<body>
		{% include header.html %}
		<div id='wrapper'>
			<div id='container'>
				<div id='main'>
					{{ content }}
				</div>
				{% include footer.html %}
			</div>
		</div>
	</body>
</html>
